<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchor</key>
	<string>Up + Right</string>
	<key>exercises</key>
	<dict>
		<key>4-4-4-4</key>
		<dict>
			<key>deflate</key>
			<integer>4</integer>
			<key>hold_after_inflate</key>
			<integer>4</integer>
			<key>hold_after_deflate</key>
			<integer>4</integer>
			<key>inflate</key>
			<integer>4</integer>
		</dict>
		<key>3-5-8</key>
		<dict>
			<key>deflate</key>
			<integer>8</integer>
			<key>hold_after_inflate</key>
			<integer>7</integer>
			<key>hold_after_deflate</key>
			<integer>0</integer>
			<key>inflate</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>deflate</key>
	<integer>4</integer>
	<key>hold_after_inflate</key>
	<integer>4</integer>
	<key>hold_after_deflate</key>
	<integer>4</integer>
	<key>inflate</key>
	<integer>4</integer>
	<key>exercise</key>
	<string>4-4-4-4</string>
	<key>inflate_color</key>
	<dict>
		<key>red</key>
		<real>0.2274509803921569</real>
		<key>green</key>
		<real>0.4462255836</real>
		<key>blue</key>
		<real>0.1738817134311687</real>
	</dict>
	<key>hold_color</key>
	<dict>
		<key>red</key>
		<real>0.2078431372549019</real>
		<key>green</key>
		<real>0.2078401446</real>
		<key>blue</key>
		<real>0.2078432739</real>
	</dict>
	<key>deflate_color</key>
	<dict>
		<key>red</key>
		<real>0.1294117647058823</real>
		<key>green</key>
		<real>0.1294117647058823</real>
		<key>blue</key>
		<real>0.447086215</real>
	</dict>
	<key>progression_enabled</key>
	<integer>0</integer>
	<key>progression_increase_by</key>
	<integer>1</integer>
	<key>progression_minutes</key>
	<integer>1</integer>
	<key>progression_times</key>
	<integer>1</integer>
</dict>
</plist>
